.apartment-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.apartment-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-align: center;
}

.apartment-card:hover {
    transform: scale(1.02);
}


.apartment-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}


.apartment-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}


.labels {
    margin-top: 10px;
}

.label {
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
}
h3{
    color: #333;
    background-color: antiquewhite;
}

.affordable {
    background-color: #39a728;

}

.premium {
    background-color: #ff0000;

}

.confirmation {
    background-color: #ff6207;

}